{% extends 'base.html' %}

{% block body %}

<h2 style="text-align: center; color: white;">About Quiz</h2>

<i><ul style="color: white; padding: 2%; margin: 3%;">
    <li style="margin-bottom: 4%; font-size: 150%;">The quiz offers three different topics: Artificial Intelligence (AI), Python programming, and Mathematics.</li>
    <li style="margin-bottom: 4%; font-size: 150%;">Each topic includes 5 carefully selected questions that test the user's knowledge in that specific domain.</li>
    <li style="margin-bottom: 4%; font-size: 150%;">The AI section focuses on questions related to artificial intelligence concepts, including definitions, architectures, and goals.</li>
    <li style="margin-bottom: 4%; font-size: 150%;">The Python section includes questions that assess the user's understanding of Python programming fundamentals, such as syntax, data structures, and functions.</li>
    <li style="margin-bottom: 4%; font-size: 150%;">The Math section features questions that challenge the user on various mathematical concepts, including algebra, calculus, and problem-solving techniques.</li>
</ul></i>



{% endblock body %}